$fuente_principal:'Sansita Swashed', cursive;
body{background-color: rgb(121, 121, 89);;}
.header{color: #dff8da;font-family: $fuente_principal;font-size: 80px;text-align: center;margin-top:10px;}
table{border: black solid;}
nav{display: inline-block;;text-align:center;font-family: 'Lobster', cursive;color: white;font-size: 25px;word-spacing: 10px;}
a{text-decoration: none;color: inherit;font-size: 25px;}
.seccion_titulo{font-family: $fuente_principal;text-align:center;font-size: 40px;color: #dff8da;}
fieldset{background: rgb(221, 164, 154);border: none;border-radius: 25px;width: 1000px;height: 375px; text-align: center;font-family: 'Lobster', cursive;color: white;font-size: 20px;margin: 0 auto;}
.input{background-color: white;;border-radius: 10px;width: 850px;height: 25px;}
.boton{background-color: white;font-family: 'Lobster', cursive;border: none;border-radius: 20px;height: 20px;width: 200px;font-size: 15px;color: black;}
textarea{background: grey;border-radius: 10px;border: none;font-size: 15px;color: black;}
.imagen{width: 150px;height: 50px;}
footer{text-align: center;font-family: 'Lobster', cursive;font-size: 30px;color: #dff8da;}
.parrafo{font-family: $fuente_principal;text-align: center;font-size: 30px;color: white;}
.seccion_subtitulo{font-family: $fuente_principal;text-align:center;font-size: 30px;color:  #82947e;}
.icono{width: 25px;height: 25px;}
.historia{font-family: $fuente_principal;text-align: center;font-size: 30px;text-align: left;width: 100vh;}
.section_boton_cantidad{background-color: white;border: radius 10px;width: 33px;height: 30px;}
.section_boton_comprar{background-color: white;font-family: 'Lobster', cursive;border: none;border-radius: 20px;height: 20px;width: 200px;font-size: 15px;color: black;}
.fixed{position: fixed;top: 15px;right: 185px;width: 40px;height: 40px;}
.telefono{font-family: $fuente_principal;text-align: end;font-size: 20px;position: fixed;top: 0px;right: 70px;height:40px;animation-name:fixed; animation-duration: 2s; animation-iteration-count:infinite;}
.contenedor{display: flex;flex-direction: row;align-content: flex-start;}
.imagenes{ height: 300px; width: 300px; display: inline-block; border: 5px solid black; margin:30px;}
header{grid-area: titulo;}
#menu{grid-area: nav;}
footer{grid-area: footer;}
#carouselExampleControls{
    grid-area: fotos;
}
.fotos-index{
    width: 100%; height: 600px; object-fit: cover;margin-left: 1%;margin-right: 1%;
}
#subtitulo{grid-area: subt; justify-self: center;}
@keyframes fixed{
    0%{ background-color: burlywood;}
    50%{ background-color: cadetblue;}
    100%{background-color: bisque;}}
a:hover{color: black;}
.iconosfooter{height: 1px;width: 1px;}
.quienesSomos{font-size: 25px;}
.comiendoPizza{height: 40px;width: 40px;}
#titPrincipal{margin-top: 10px;}
.centrar{text-align: center;}
.qsm{background-image:url(../Imagenes/Imagen1.jpg);
     text-align: center;
     background-size: cover;
     background-repeat: no-repeat;}
.fotoFondo{background-image:url(../Imagenes/pizzaFondo.jpg);
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;}
.fotoComprar{background-image:url(../Imagenes/fotoComprar.jpg);
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;}
.comprar{text-align: left;}
.fotoFondo{background-image:url(../Imagenes/fotoProductos);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;}
.fotoForm {
    background-image: url(../Imagenes/fotoFormulario.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat; }
.fotoProductos {
    background-image: url(../Imagenes/fotoProd.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat; }
.fotoPromo {
    background-image: url(../Imagenes/fotoPromo.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat; }
@media screen and ( min-width:320px){
    .header{color: #dff8da;font-family: $fuente_principal;font-size: 40px;text-align: center;margin-top:10px;}
    fieldset{background: rgb(221, 164, 154);border: none;border-radius: 25px;width: 400px;height: 375px;
             text-align: center;font-family: 'Lobster', cursive;color: white;font-size: 20px;margin: 0 auto;}
    .input{background-color: white;;border-radius: 10px;width: 225px;height: 35px;}
    footer{text-align: center;font-family: 'Lobster', cursive;font-size: 35px;color: #dff8da;}
    .fixed{position: static;top: 30px;right: 185px;width: 40px;height: 40px;}
    .telefono{font-family: $fuente_principal;text-align: end;font-size: 25px;position: static;text-align: center;
            top: 15px;height:40px; animation-name:none; color: rgb(238, 238, 229);}
    .parrafo{font-family: $fuente_principal;text-align: center;font-size: 25px;color: white;}
    .contenedor{display: flex;flex-direction: column;align-content: flex-start;}}
@media screen and ( min-width:768px){
    .header{color: #dff8da;font-family: $fuente_principal;font-size: 80px;text-align: center;margin-top:10px;}
    .fixed{position: fixed;top: 15px;right: 185px;width: 40px;height: 40px;}
    .telefono{font-family: $fuente_principal;text-align: end;font-size: 20px;position: fixed;
            top: 0px;right: 70px;height:40px;animation-name:fixed; animation-duration: 2s; animation-iteration-count:infinite;}}
    footer{text-align: center;font-family: 'Lobster', cursive;font-size: 30px;color: #dff8da;
    .input{background-color: white;;border-radius: 10px;width: 850px;height: 25px;}
    fieldset{background: rgb(221, 164, 154);border: none;border-radius: 25px;width: 1000px;height: 375px;
                     text-align: center;font-family: 'Lobster', cursive;color: white;font-size: 20px;margin: 0 auto;}
    .parrafo{font-family: $fuente_principal;text-align: center;font-size: 30px;color: white;}
    .contenedor{display: flex;flex-direction: row;align-content: center;}                 
            }